.incluiExclui{
    white-space: wrap;
    padding: 8px;
    width: 50px;
    align-items: center;
    background-color: gray;
    border: none;
    color: orange;
    font-weight: bold;
    border: 4px solid gray;
    border-radius: 5px;
    text-align: center;
}
.resultIncluiExclui{
width: 75px;
color:orange;
font-weight: bold;
padding: 8px;

}