/* Estilos para o componente Cardapio */

.conteudoCardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 0 20px;
  }
  
