 
 .menu-hamburger{
  background: var(--nude);
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin-bottom: 4rem;
 }
 .produtos-do-cardapio{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: red;
 }
 .container-dos-produtos{
 flex-direction: column;
 justify-content: center;
 align-items: center;
 display: flex;
 }

 .lista-itens-cardapio{
list-style: none;
justify-content: center;
flex-direction: column;
max-width: 400px;
 }
 .imagens-do-cardapio{
  max-width: 80px;
  align-items: center;
 }

 .img-tipo-refeicao{
  justify-content: flex-start;
  display: block;
  float: left;
 }
 .titulo-tipo-refeicao{
  color: var(--cinza-escuro);

 }

 @media only screen and (max-width: 767px) {
  .img-tipo-refeicao{
    max-width: 10rem;
   }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .img-tipo-refeicao{
    max-width: 10rem;
   }
}


@media only screen and (min-width: 1024px) {
  .img-tipo-refeicao{
    max-width: 20rem;
   }
}

@media only screen and (min-width: 1200px) {
 
}

/* .lista-itens-cardapio{
  display: flex;
  list-style: none;
  color: white;
  text-align: left;
 }
 .preco{
  flex-direction: column;
  text-align: center;
 }  */