
.botao {
  background-color: rgba(122, 113, 113, 0.75);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-transform: uppercase;
  white-space: nowrap;
}
.div-botao{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.botao:hover {
  color: white ;
  display:inline-block;
  background-color:rgba(12, 9, 9, 0.87) ;
}
a{
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .botao{
    font-size: 1.5vh;
    max-width: 200px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .botao{
    font-size: 1.8vh;
    max-width: 200px;
  }

}

@media only screen and (min-width: 1024px) {
  .botao{
    font-size: 20px;
    max-width: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .botao{
    font-size: 20px;
    max-width: 200px;
  }
}