.listaUsuarios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.listaUsuarios .cardUsuario {
  background-color: var(--cinza-claro);
  border-radius: 10px;
  transition: box-shadow 0.3s;
  padding: 20px;
  box-sizing: border-box;
  color: black;
}

.listaUsuarios .cardUsuario .dados-usuario {
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.listaUsuarios .cardUsuario button.btn-lista-usuarios {
  background-color: gray;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.listaUsuarios .cardUsuario button.btn-lista-usuarios:hover {
  background-color: var(--cinza-escuro);
  color: white;
}

.listaUsuarios .cardUsuario button.modal-btn {
  background-color: var(--cinza-claro);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.listaUsuarios .cardUsuario button.modal-btn:hover {
  background-color: var(--cinza-escuro);
  color: white;
}
