.aguardandoEntrega{
    color: rgba(255, 253, 253, 1);
    background-color: rgba(122, 113, 113, 0.5);
    margin-bottom: 5rem;
    text-transform: uppercase;
    max-width: 35rem;
    padding: 5px 5px;
    border-radius: 5px;
    font-family: Kadwa;
    font-size: 1.3rem;
}
.telaAguardandoEntrega{
    margin-top: 5rem ;
    margin:10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.botaoVoltar{
    margin-top: 5rem;
    color: aliceblue;
    text-align: right;
    font-family: Kadwa;
    display: block;
}
.botaoEnviar{
    color: aliceblue;

}


    
    