
.botaoVoltar{
    margin-top: 5rem;
    color: aliceblue;
    text-align: right;
    font-family: Kadwa;
    display: block;

}
.botaoEnviar{
    color: aliceblue;

}


  @media only screen and (max-width: 767px) {
    .lista-de-pedidos{
        width: 50%;
        align-items: center;
    }
    .botaoVoltar{
        width: 95%;
    
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
.lista-de-pedidos{
    max-width: 90%;
    width: 100%;
    align-items: center;
}
.botaoVoltar{
    width: 88%;

}
}


@media only screen and (min-width: 1024px) {
    .lista-de-pedidos{
        width: 90%;
        align-items: center;
    }
    .botaoVoltar{
        width: 88%;
    
    }
}

@media only screen and (min-width: 1200px) {
    .lista-de-pedidos{
        width: 90%;
        align-items: center;
    }
    .botaoVoltar{
        width: 90%;
    
    }
}
    
    