* {
    font-family: Kadwa;
    margin: 0;
        width: 100%;
    }
    
    .body-login{
      display: flex;
      position: relative;
      background-color: rgba(12, 9, 9, 0.87);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
    
    } 