/* .resumoDoPedido {
    color: rgba(255, 253, 253, 1);
    background-color: rgba(122, 113, 113, 0.5);
    margin-bottom: 5rem;
    text-transform: uppercase;
    max-width: 35rem;
    padding: 5px 5px;
    border-radius: 5px;
    font-family: Kadwa;
    font-size: 1.3rem;

  
}
.telaFazerPedido{
    margin-top: 5rem ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.botaoVoltar {
    position: absolute; 
    top: 0;
    text-align: right;
    color: rgba(255, 253, 253, 1);
    font-size: 30px;
    font-family: Kadwa;
  
}
.botaoResumo {
    color: rgba(255, 253, 253, 1);
    font-size: 26px;
    font-family: Kadwa;
  
} */

.telaFazerPedido{
    margin-top: 5rem ;
    margin:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.componentes{
    position: relative;
    width: 100%;

}
@media only screen and (max-width: 767px) {
    .cardapio-resumo {
    grid-template-columns: 1fr;
    padding: 0 1rem;
    width: 90%;
    }
    .container-resumo-pedido{
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .cardapio-resumo {
    grid-template-columns: 2fr 1fr;
    padding: 0 4rem;
    }
    .container-resumo-pedido{
        width: 100%;
    }
    }
    
    @media only screen and (min-width: 1024px) {
    .cardapio-resumo {
    grid-template-columns: 2fr 1fr 1fr;
    padding: 0 6rem;
    }
    }
    
    @media only screen and (min-width: 1200px) {
    .cardapio-resumo {
    padding: 0 8rem;
    }
    }
    
    .container-tipo-ref {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
    
    .tipoRefecao {
    text-transform: uppercase;
    color: white;
    padding: 10px;
    background-color: rgba(122, 113, 113, 0.75);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 100%;
    width: 400px;
    }
    
    .categoria-titulo {
    text-transform: uppercase;
    margin: 5px;
    color: white;
    border-bottom: 3px solid;
    max-width: 12rem;
    text-align: center;
    margin-top: 1rem;
    }
    
    .containerItens {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    }
    
    .containerItens p {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    }
    
    .containerItens p:first-child {
    font-weight: bold;
    }
    
    .lista-de-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    
    .dadosProdutos {
    margin-top: 10px;
    border-bottom: 3px solid aliceblue;
    max-width: 100%;
    }