.body-login{
    display: flex;
    background-color: rgba(12, 9, 9, 0.87);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
} 
.formulario {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    text-align: center;
    position: fixed;
   
}
.formulario form{
    max-width: 80%;
    padding: 36px 64px;
    
}
.titulo-login{
    color:aliceblue;
    font-size: 6vh;
    text-align: center;
}
.chaves{
  color: #E79315;
  font-size: 6vh;
} 


