
.tabela-produtos{
  max-width: 630px;
    width: 100%;
    color:rgb(242, 226, 226);
  }

  /* .titulo-tabela-produtos{
    padding: 16px;
    margin-top: 1rem;
    text-transform: uppercase;
    color:orange;
    text-align: center;
  }
 .tabela-produtos-esquerda{
  text-align: left;
 }
 .tabela-produtos-direita{
  text-align: right;
 }
 .tabela-produtos-id{
  width: 200px;
 }


.tabela-produtos-admin, .tabela-produtos-cabecalho, .tabela-produtos-itens{
  width: 100%;
}
.tabela-produtos-cabecalho, .tabela-produtos-itens{
  display: flex;
  border: 1px solid;
}

  @media (max-width: 600px) {
    
  }
  
  @media only screen and (max-width: 767px) {
  
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
   
  }
  
  @media only screen and (min-width: 1024px) {
 
  }
  
  @media only screen and (min-width: 1200px) {

  
  }  */

  .titulo-tabela-produtos{
    padding: 16px;
    margin-top: 1rem;
    text-transform: uppercase;
    color:orange;
    text-align: center;
  }
 .tabela-produtos-esquerda{
  text-align: left;
 }
 /* .tabela-produtos-direita{
  text-align: right;
  } */
 .tabela-produtos-id{
  width: 200px;
 }
 
 .tabela-produtos-admin, .tabela-produtos-cabecalho, .tabela-produtos-itens{
  width: 100%;
 }
 .tabela-produtos-cabecalho, .tabela-produtos-itens{
  display: flex;
  border: 1px solid;
 }
 .tabela-produtos-cabecalho dt{
background: var(--azul-escuro);
color: var(--cor-da-fonte);
 }

.icone-deletar{
 color: rgb(204, 167, 4);
}
 .tabela-produtos-itens:nth-child(even) {
  background-color: var(--cinza-medio);
}
 
  @media (max-width: 600px) {
   
  }
   @media only screen and (max-width: 767px) {
    .tabela-produtos{
     
      font-size: 15px;
    }
   }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
  
  }
   @media only screen and (min-width: 1024px) {
  }
   @media only screen and (min-width: 1200px) {
   
 
   }
 
 