/* Estilos para o componente Refeicoes */

.containerItens {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.containerItens p {
  font-size: 18px;
}

.containerItens p:first-child {
  font-weight: bold;
}


