
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul-escuro);
    border-radius: 8px;
    padding: 10px;
    box-shadow: var(--sombra-destaque), var(--sombra-sombreada);
  }
  
  .ferramentas {
    display: flex;
    justify-content: flex-start;
   
  }
  
  .circulos {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
   .c {
    border-radius: 50%;
    box-shadow: inset 2px 2px 5px rgba(235, 235, 235, 0.356);
   }
   
   
   .c:first-child {
    background-color: red;
   }
   
   
   .c:nth-child(2) {
    background-color: rgb(204, 167, 4);
   }
   
   
   .c:last-child {
    background-color: green;
   }
   


   @media only screen and (max-width: 767px) {
    .card {
        max-width: 300px;
      }
      .c{
        width: 12px;
        height: 12px;
      }

   }
   @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .card {
       max-width: 500px;
      }
      .c{
        width: 15px;
        height: 15px;
      }
   }
 
   @media only screen and (min-width: 1024px) {
    .card {
        max-width: 500px;
      }
      .c{
        width: 15px;
        height: 15px;
      }
   }
@media only screen and (min-width: 1200px) {
    .card {
        max-width: 600px;
      }
      .c {
        width: 19px;
        height: 19px;
      }
}