.lista-de-pedidos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    
}
.titulo-lista-pedidos{
    text-transform: uppercase;
    padding: 10px;
    margin-top: 1rem;
}
.dados-pedidos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.lista-de-pedidos ul{
    list-style: none;
}


@media only screen and (max-width: 767px) {
    .lista-de-pedidos{
        width: 100%;
        align-items: center;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
.lista-de-pedidos{
    width: 90%;
    align-items: center;
}

}


@media only screen and (min-width: 1024px) {
    .lista-de-pedidos{
        width: 90%;
        align-items: center;
    }
}

@media only screen and (min-width: 1200px) {
    .lista-de-pedidos{
        width: 90%;
        align-items: center;
    }
   
}