
  .infoPedido{
    text-transform: uppercase;
    margin-bottom: 15px;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .labelResumoPedido {
    display: inline-block;
    text-align: left;
    flex-grow: 1;
  }
  .inputResumoPedido{
    display: inline-block;
    margin-bottom: 10px;
    align-items: center;
    background-color: transparent;
    border:none;
    color: white;
  }
  
  .linha-resumo {
    display: flex;
   justify-content: left;
  }
  

  table {
    border-collapse: collapse;
  }
  
  th, td {
  
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    justify-content: space-between;
  }
 
  thead th {
    background-color: rgb(34, 33, 33);
  }
  
  tbody tr:nth-child(even) {
    background-color: #494848;
  }
  
  tbody tr:hover {
    background-color:#494848;
  }

  .th-total{
    background-color: green;
  }
  .conteudo-tabela-resumo{
    display: flex;
    justify-content: center;
   align-items: center;
   text-align: center;

  }
 

  @media only screen and (max-width: 767px) {
    .conteudo-tabela-resumo{
      max-width: 80px;
      font-size: 13px;
      border-collapse: collapse;
    }

  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .conteudo-tabela-resumo{
      max-width: 80px;
      font-size: 15px;
      border-collapse: collapse;
    }
  }

  @media only screen and (min-width: 1024px) {
    .container-resumo-pedido{
      display: flex;
  
    }
    .conteudo-tabela-resumo{
      max-width: 200px;
      width: 100%;
      font-size: 17px;
      border-collapse: collapse;
    }
  
  }

  @media only screen and (min-width: 1200px) {
    .container-resumo-pedido{
      display: flex;
    }
    .conteudo-tabela-resumo{
      max-width: 300px;
    }

  } 