/* .campo-texto {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  } */
  .campo-texto{
    margin: 24px 0;
    display: flex;
    flex-direction: column;
  }
  .campo-texto label {
    font-weight: 50;
    margin-bottom: 5px;
    display: inline-block;
    margin-top: 5px;
    color: white;
    font-size: 18px;
    text-align: left;

  }
  .campo-texto input {
    font-size: 18px;
    border-style: none;
    display: inline-block;
    background-color: transparent;
    box-shadow: none;
    border-bottom: solid 2px white;
    box-sizing: border-box;
    outline: none;
  }
  