 .logo {
    display: flex;
   background-color: transparent;
    justify-content: center;
    align-items: center;
  flex-direction: column;
}
  .logo img {
    margin-top: 3rem;
    margin-bottom: 10px;
  }
  .titulo-login{
    color:aliceblue;
    text-align: center;
    margin-bottom: 2rem;
}
.chaves{
  color: #E79315;
  
} 
@media only screen and (max-width: 767px) {
  .titulo-login .chaves{
    font-size: 4vh;
}
.logo img {
  width: 28rem;
 }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .titulo-login {
    font-size: 4vh;
}
.chaves{
  font-size: 4vh;
}
.logo img {
  width: 30rem;
 }
}

@media only screen and (min-width: 1024px) {
  .chaves{
    font-size: 6vh;
}
.titulo-login{
  font-size: 6vh;
}
.logo img {
  width: 40rem;
 }
}

@media only screen and (min-width: 1200px) {
  .logo img {
   width: 50rem;
  }
  .chaves{
    font-size: 6vh;
}
.titulo-login{
  font-size: 6vh;
}
}