 .logo {
    display: flex;
   background-color: transparent;
    text-align: center;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

  .logo img {
    max-width: 77%;
    margin-bottom: 25rem;
  }
  