 .logo {
    display: flex;
   background-color: transparent;
    text-align: center;
    justify-content: center;
    padding: 20px;
    align-items: center;
    position: fixed;
    margin-top: -10rem;
}

  .logo img {
    max-width: 43rem;
    margin-bottom: 15rem;
  }
  .titulo-login{
    color:aliceblue;
    font-size: 6vh;
}
.chaves{
  color: #E79315;
  font-size: 6vh;
} 
  